* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #323232;
    background-image: url("/İmg/backgp.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

#prev-button,
img {
    width: 3em;
    height: 3em;
}

/* Magazin */
.Magazin {
    position: relative;
    width: 95%;
    height: 90%;
    transition: transform 0.5s;

}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
    justify-content: center;
    align-items: center;
}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 0.5em;
}

.f1 {
    background-color: transparent;
}

#p1,
.front img {
    width: 101%;
    height: 100%;
    margin-right: 0.2em;
    border-radius: 0.5em;

}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* ! Sayfa değiştirme efekti (Flip effect) */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

button {
    border: none;
    background-color: transparent;
    border-radius: 100%;
    cursor: pointer;
    margin: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0.3em;
}


button:hover {
    border: none;
    background-color: lightgreen;
    border-radius: 100%;
    cursor: pointer;
    margin: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0em;
    height: 2.9em;

}



/* ! Yeni sayfa eklendiğinde güncellenecek alan*/
#p1 {
    z-index: 4;

}

#p2 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p4 {
    z-index: 1;
}

.Logo {
    position: absolute;
    width: 15%;
    height: 15%;
    right: 5%;
    top: 5%;
    opacity: 0.9;
}


::-webkit-scrollbar {
    color: lightblue;
}

::-webkit-scrollbar-thumb {
    background: lightblue;
    border-radius: 0.2em;
}

#b1 {
    background-color: #323232;
}


.b1i {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0%;

}

.b1p {
    margin-top: 1em;
}

.b1pc {
    color: goldenrod;
    position: absolute;
    right: 0%;
    width: 60%;
    height: 100%;
    text-align: center;

}

.b1pc h1 {
    border: none;
    border-bottom: 3px solid lightblue;

}

#f2 {
    background-color: #323232;
}

#f2i {
    position: absolute;
    width: 40%;
    height: 40%;
    border-radius: 100%;
    right: 2%;
    top: 2%;
    border: 10px solid black;
}

.f2title {
    color: goldenrod;
    position: absolute;
    left: 5%;
    top: 25%;

    width: 10em;
    text-align: center;
    border: none;
    border-bottom: 3px solid lightblue;
    margin-right: 5em;
}

#f2textc {
    position: absolute;
    width: 100%;
    height: 57%;
    bottom: 0.5%;
    color: goldenrod;
    border: none;
    border-bottom: 3px solid lightblue;
    overflow-y: scroll;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}