* {
	padding: 0;
	margin: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

portada p {
	margin-top: 10px;
	font-size: 13px;
	text-align: justify;
}

.container,
.book-content {
	display: flex;
	justify-content: center;
	align-items: center;

}

.container {
	width: 100%;
	height: 100vh;
	background: #2d6f75;
}

.book-content {
	width: 700px;
	height: 800px;
	position: relative;
	perspective: 1000px;
	margin-left: 20em;
	transition: 1s;
	border-radius: 0.5em;

}

.Magazin {
	position: absolute;
	width: 65%;
	height: 100%;
	transition: 1s;
	transform-style: preserve-3d;
	transform-origin: left;
}

.face-front,
.face-back {
	width: 100%;
	height: 100%;
	background: white;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 0.5em;
}

.face-front {
	box-shadow: inset 3px 0px 20px -7px black;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-radius: 0.5em;
}

.face-back {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateZ(-1px) rotateY(180deg);
	box-shadow: inset -3px 1px 20px -7px black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#portada {
	background: url('../img/bookPortada.jpg');
}

#portada-back {
	background: url('../img/portadaBack.jpg');
}

#portada,
#portada-back {
	background-size: 100% 100%;
}



.trnsf {
	transform: translateX(80px);
}

.trnsf-reset {
	transform: translateX(0px);
}

/* Responsive hale getirmek için*/

@media screen and (max-width: 800px) {
	p {
		font-size: 12px;
	}
}

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

portada p {
	margin-top: 10px;
	font-size: 13px;
	text-align: justify;
}

.container,
.book-content {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5em;
	margin-top: 2em;
	position: absolute;



}

.container {
	position: absolute;
	background: #2d6f75;
	border-radius: 0.5em;
	width: 100%;
	height: 80%;
	left: -8%;
	top: 5%;
	background-color: white;

}

::-webkit-scrollbar-button {
	color: lightblue;
}

::-webkit-scrollbar {
	background-color: black;
}

.book-content {
	width: 700px;
	height: 800px;
	position: relative;
	perspective: 1000px;
	margin-left: 15em;
	transition: 1s;
	border-radius: 0.5em;
	margin-bottom: 8em;
}

.Magazin {
	position: absolute;
	width: 65%;
	height: 100%;
	transition: 1s;
	transform-style: preserve-3d;
	transform-origin: left;
	border-radius: 0.5em;
	margin-top: 18em;
}

.face-front,
.face-back {
	width: 100%;
	height: 100%;
	background-color: black;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
}

.face-front {
	box-shadow: inset 3px 0px 20px -7px black;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.face-back {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateZ(-1px) rotateY(180deg);
	box-shadow: inset -3px 1px 20px -7px black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#portada {
	background: url('/İmg/background.jpg');
}

#portada-back {
	background: url('/İmg/backgp.jpeg');
}

#portada,
#portada-back {
	background-size: 100% 100%;
}



.trnsf {
	margin-top: 2em;
	transform: translateX(80px);
}

.trnsf-reset {
	transform: translateX(0px);
}

/* Responsive hale getirmek için*/

@media screen and (max-width: 800px) {
	p {
		font-size: 12px;
	}
}

.p1i {
	position: absolute;
	width: 52%;
	height: 46%;
	top: 2%;
	left: 0%;
	border-radius: 100%;
}

#trsf {
	background-color: black;
}

.p1t1 {
	margin-top: 1em;
	position: absolute;
	width: 46%;
	right: 1.5%;
	height: 50%;
	color: goldenrod;
	text-align: center;
}

.p1t2 {
	position: absolute;
	bottom: 12.5%;
	right: 1%;
	width: 98%;
	height: 40%;
	color: goldenrod;

}

.Previous {
	position: absolute;
	width: 10%;
	height: 6%;
	top: 0%;
	left: 0%;
	text-align: center;
	background-color: white;
	justify-content: center;
	background-image: url("/İmg/Previousnew.png");
	background-size: cover;
}

.p2i {
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0%;
	top: 0%;

}



.p2t1 {
	position: absolute;
	top: 55%;
	left: 0%;
	height: 50%;
	width: 100%;
	color: goldenrod;
	text-align: center;
}

.p2pt {
	position: absolute;
	color: goldenrod;
	top: 50%;
	left: 11%;
}

.Prevbutton {
	position: absolute;
	left: 1%;
	top: 0.5%;
	width: 2em;
	font-size: 2em;
	padding: 0.2em;
	background-color: lightgreen;
	opacity: 0.9;
	border-style: 2px solid black;
	color: black;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 6%;
	background-color: black;
	color: lightgreen;
	text-align: center;
	display: flex;
	font-size: 1.5em;
	padding-top: 1em;

}


.bar {
	position: absolute;
	left: 22.3%;
	top: -6%;
	width: 85em;
	height: 5em;
	border-radius: 0.5em;
	background-color: black;
	opacity: 0.9;
	box-shadow: 30px 35px 10px 5px black;
	text-align: center;
}

.bar ul {
	display: inline-flex;
	margin-top: 2em;
}

.bar ul li {
	list-style: none;
	margin-left: 2em;
}

.bar ul li a {
	text-decoration: none;
	color: lightgreen;
}

.prevbtn {
	position: absolute;
	right: 2%;
	padding: 1em;
	top: 20%;
	background-color: lightgreen;
	border-radius: 100%;

}

.İnfo {
	background-color: black;
	position: absolute;
	top: 40%;
	left: 34%;
	width: 20em;
	color: white;
	text-align: center;
	height: 3em;
	padding-top: 2em;
	opacity: 0.8;
	border-radius: 0.2em;
	box-shadow: 5px 5px 10px 10px lightgreen;
}
